<div class="container">
  <form name="frmProduct" [formGroup]="frmProduct" (ngSubmit)="save()">
    <div class="form-group">
      <label for="ProductId">Product Id</label>
      <input type="text" name="ProductId" formControlName="ProductId" class="form-control">
      <div *ngIf="frmProduct.controls.ProductId.dirty&&!frmProduct.controls.ProductId.valid">
        <p class="alert-danger" *ngIf="frmProduct.controls.ProductId.errors.required">Product Id is must</p>
        <p class="alert-danger" *ngIf="frmProduct.controls.ProductId.errors.minlength">Product Id is must be 2 digits
          min</p>
        <p class="alert-danger" *ngIf="frmProduct.controls.ProductId.errors.maxlength">Product Id can be 6 digits max
        </p>
        <p class="alert-danger" *ngIf="frmProduct.controls.ProductId.errors.pattern">Product Id is must numeric</p>
        <p class="alert-danger" *ngIf="frmProduct.controls.ProductId.invalid">
          The ProductId Must be Even
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="ProductName">Product Name</label>
      <input type="text" name="ProductName" formControlName="ProductName" class="form-control">
    </div>
    <div class="form-group">
      <label for="Price">Price</label>
      <input type="text" name="Price" formControlName="Price" class="form-control">
    </div>
    <div class="form-group">
      <label for="CategoryName">CategoryName</label>
      <select class="form-control" formControlName="CategoryName" name="CategoryName">
        <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Manufacturer">Manufacturer</label>
      <select class="form-control" formControlName="Manufacturer" name="Manufacturer">
        <option *ngFor="let man of manufacturers" value="{{man}}">{{man}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="button" value="New" class="btn btn-default" (click)="clear()">
      <input type="submit" value="Save" [disabled]="!frmProduct.valid" class="btn btn-success">
    </div>
  </form>
</div>
<hr />
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td *ngFor="let c of tableColumns">{{c}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products" (click)="getSelectedProduct(p)">
        <td *ngFor="let c of tableColumns">{{p[c]}}</td>
      </tr>
    </tbody>
  </table>
</div>
